@import '../../../../shared/styles/index.scss';

.Input {
    height: 34px;
    width: 100%;
    padding: 4px 6px;
    border: 1px solid var(--color-main);
    border-radius: var(--border-radius);
    background-color: transparent;
    outline: none;
    color: var(--color-theme);
    &:hover {
    border-color: var(--color-dark);
  }
}

// .checkbox {
//     width: 30px;
//     display: flex;
//     align-items: center;
//     column-gap: 14px;
//     transition-duration: var(--transition-duration);
  
//     &:checked + .emulatorCheckBox::after {
//       display: inline-block;
//     }
    
//     &:not(:checked) + .emulatorCheckBox::after {
//       display: none;
//     }
    
//   }

//   .emulatorCheckBox {
//     //@include flex-center;
//     //@include square(25px);
  
//     position: relative;
//     background-color: transparent;
//     border: 2px solid var(--Input-border-color);
//     border-radius: var(--border-radius);
  
//     &::after {
//         //@include abs-center;
//         //@include square(15px);
//         content: '';
//         //background: url(/shared/assets/icons/inputs/comboBoxChecked.svg) center/cover no-repeat
//     }
//   }

.input-m {
    height: 40px;
    width: 350px;
    padding: 6px 12px 6px 34px;
}

.icon {
    background: no-repeat 7px;
    background-size: 20px;
}

.user {
    background-image: url('../../../assets/icons/user.svg');
}

.password {
    background-image: url('../../../assets/icons/password.svg');
}