@import "../../../shared/styles/index.scss";

.inputs {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.inputField {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 700px;
  width: 99%;
}

.dateWidth {
  width: 50px;
}

.active {
  background-color: var(--color-select-table) !important;
}

.isTaken {
  background-color: red !important;
}

.bodyPage {
  display: flex;
  flex-direction: row;
  height: 85%;
}

.sideBox {
  float: left;
  //position: relative;
  height: 150px;
  margin: 1%;
  border: 1px solid green;
  width: 30%;
  border-radius: 10px;
  padding: 5px;
}

.block {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 3px;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
